.cm {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.active > .path-img > img {
  filter: brightness(0) invert(1);
}

#tree-nav {
  background-color: #0dcaf0;
}

.pc .cm {
  min-width: 200px;
}
